#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid rgb(223, 137, 137);
}
#logo_img
{
    width: 150px;
    border-width: 50px;
    border-radius: 100px;
    border-color: rgb(223, 67, 140);
}
#textbox
{
    width: 300px;
}